@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.imgur.com/i7siiF4.png');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.container_welcome{
    width: 30vw;
    height: 80vh;
    border: 10px solid #277DA1;
    border-radius: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    overflow:auto;
    background-color: #43AA8B;
    
}
.container_welcome.hidden{
    display:none;
}

#welcome_message{
    line-height: 1.5em;
    font-size: 20px;
    margin: 0px 15px;
}

.container{
    width: 70vw;
    border: 10px solid #277DA1;
    border-radius: 10px;
    height: 65vh;
}

.container.hidden{
    display:none;
}



.metrics_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid grey;
    justify-content: space-between;
    background-color: #4D908E;
    overflow: auto;
    height: 17%;
}

.metric{
    border: 5px #F9C74F solid;
    padding: 20px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    height: 50px;
    font-size: 20px;

}
.buttons_container{
    background-color: #90BE6D;
    overflow: auto;
    height: 22%;

}

.center_area{
    display: flex;
    border-bottom: 5px solid grey;
    background-color: #43AA8B;
    flex-flow: row;
    text-align: center;
    height: 60%;
}

.buttons_top, .buttons_bottom {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

button{
    padding: 15px 20px 15px 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 3px #888888;
    font-size: 20px;
    
}

button:hover {
    transform: scale(1.1);
    transition:300ms ease-in-out;
}

#name_display{
    position: absolute;
}
#avatar{
    flex: 1;
}

#avatar_bart{
    height: 100%;
    animation: bounce 1s ease-in-out;
    animation-iteration-count: infinite;
}

#current_event{
    flex: 1;
    background-size:cover;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    background-position: center;
    
}

#event_log{
    overflow: scroll;
    text-align: center;
    flex: 1.5;
    overflow-x: hidden;
    padding: 0 15px;
    font-size: 18px;
}

.red_text{
    color:#F94144;
    text-shadow: 1px 1px black;
}

.good_text{
    color:green;
    text-shadow: 1px 1px black;
}

.alert{
    animation: blink 1s linear infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }

@keyframes bounce {
    15% {
        transform: translateY(5px);
        }
    30% {
        transform: translateY(-5px);
        }
    50% {
        transform: translateY(3px);
        }
    65% {
        transform: translateY(-3px);
        }
    80% {
        transform: translateY(2px);
        }
    100% {
        transform: translateY(0);
        }
}



    .meter { 
        height: 10px; 
        position: relative;
        background: #555;
        border-radius: 15px;
        padding: 5px;
        box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
      }


    .meter > span {
        display: block;
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: rgb(43,194,83);
        background-image: linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
        );
        box-shadow: 
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
      }

.meter.red_bar > span{
        display: block;
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: red;
        background-image: linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
        );
    box-shadow: 
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
}


#start_game_button{
    padding: 15px 20px;
}

.input_img {
    border:solid 1px red; 
    margin:10px;
}

.selected{
   box-shadow:0px 22px 22px 5px #333;
   transform: scale(1.1);
   transition:300ms ease-in-out;
}