*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.imgur.com/i7siiF4.png');
    background-size: cover;
}

.container{
    max-width: 1000px;
    border: 10px solid blue;
}
.metrics_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid grey;
    justify-content: space-around;
}

.metric{
    border: 5px red solid;
}
.buttons_container{

}

.center_area{
    display: flex;
    border-bottom: 5px solid grey;
}

.buttons_top, .buttons_bottom {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

button{
    padding: 15px;
}