*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.imgur.com/i7siiF4.png');
    background-size: cover;
}

.container{
    width: 70vw;
    border: 10px solid blue;
    border-radius: 10px;
}

.container.hidden{
    display:none;
}

.metrics_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid grey;
    justify-content: space-around;
    background-color: #4D908E;
}

.metric{
    border: 5px red solid;
}
.buttons_container{
    background-color: #90BE6D;
}

.center_area{
    display: flex;
    border-bottom: 5px solid grey;
    background-color: #43AA8B;
    height: 300px;
    flex-flow: row;
}

.buttons_top, .buttons_bottom {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

button{
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}

#avatar{
    flex: 1;
}

#current_event{
    flex: 1;
    background-size:contain;
    background-repeat: no-repeat;
    transition: .5s ease-in-out;
    border-radius: 5px;
    
}

#event_log{
    overflow: scroll;
    text-align: center;
    flex: 1.5;
}